<table class="prijslijst">   
    <table>       
    <caption>
                Tarieven Kano huur
            </caption>
         <thead>
             <tr>
                 <tr>
                
                         <tr>
                             <tr>
            <th scope="col"rowspan="2">Kano soort </th>
            
                         </tr>
                         <tr>
                             <th scope="col">Huurprijs per uur</th>
                             <th scope="col">Huurprijs per dag</th>
                         </tr>
                         <tr>
                            
                             
                             <tr>
                               
                                <tr>
                                    
                             
                        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kano 1 persoons</td>
                <td>€10,-</td>
                <td>€75,-</td>
            </tr>
            <tr>
                <td>Kano 2 persoons</td> 
                <td>€15,-</td> 
                <td>€100,-</td> 
            </tr>
            <tr>
                <td>Kajak  max 5 personen</td> 
                <td>€20,-</td> 
                <td>€150,-</td> 
            </tr>
            <tr>
                <td>Kajak max 10 personen</td> 
                <td>€35,-</td> 
                <td>€250,-</td> 
            </tr>
            
        </table> 
    