<!--<p>child works!</p>
<p>
<label for= "ChildInvoer">Invoer</label>
<input type="text" id="ChildInvoer" [(ngModel)]="ChildInvoerModel">
<button (click)="onChildInvoer()">versturen</button>
</p>-->
<table class="prijslijst">   
    <table>       
    <caption>
                Tarieven
            </caption>
         <thead>
             <tr>
                 <tr>
                
                         <tr>
                             <tr>
            <th scope="col"rowspan="2">Omschrijving</th>
            <th scope="col"colspan="2">Tarief per nacht</th>
                         </tr>
                         <tr>
                             <th scope="col">Hoogseizoen</th>
                             <th scope="col">Laagseizoen</th>
                         </tr>
                         <tr>
                             <th scope="col"rowspan="3">Periode</th>
                             <th scope="col">Van 02/04/21 tot 18/04/21</th>
                             <th scope="col">Van 19/04/21 tot 30/04/21 </th>
                             <tr>
                                <th scope="col">Van 30/04/21 tot 25/05/21</th>
                                <th scope="col">Van 25/05/21 tot 01/07/21</th>
                                <tr>
                                    <th scope="col">Van 01/07/21 tot 01/09/21</th>
                                    <th scope="col">Van 01/09/21 tot 26/09/21</th>
                             
                        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Plek Les Allaines/Semois (plek met elektra - optioneel)</td>
                <td>€24,45</td>
                <td>€19,55</td>
            </tr>
            <tr>
                <td>Kampeerweide/Wildcamp @ MAKA (geen stroom)</td> 
                <td>€24,45</td> 
                <td>€19,55</td> 
            </tr>
            <tr>
                <td>Blokhut max 4 personen</td> 
                <td>€70,95</td> 
                <td>€56,75</td> 
            </tr>
            <tr>
                <td>Blokhut max 5 personen</td> 
                <td>€80,95</td> 
                <td>€64,75</td> 
            </tr>
            <tr>
                <td>Camperplek</td> 
                <td>€23,95</td> 
                <td>€16,00</td> 
            </tr>
            <br>
            <tr>
                <td>Tarief volwassenen</td> 
                <td>€6,25</td> 
                <td>€5,00</td> 
            </tr>
            <tr>
                <td>Kinderen (3 t/m 13 jaar</td> 
                <td>€5,25</td> 
                <td>€4,20</td> 
            </tr>
            <tr>
                <td>Kinderen tot 3 jaar</td> 
                <td>Gratis</td> 
                <td>Gratis</td> 
            </tr>
            <tr>
                <td>Bezoek (per persoon, per dag, tussen 09.00-20.00 uur)</td> 
                <td>€3,00</td> 
                <td>€3,00</td> 
            </tr>
            <br>
            <tr>
                <td>Extra motor/auto (op parkeerplaats, niet op kampeerplek)</td> 
                <td>€3,00</td> 
                <td>€3,00</td> 
            </tr>
            <tr>
                <td>Huisdieren (fysiek aangelijnd, niet tot overlast voor anderen)</td> 
                <td>€4,95</td> 
                <td>€3,95</td> 
            </tr>
            <br>
            <tr>
                <td>Elektriciteit (10 Ampère)</td> 
                <td>€5,10</td> 
                <td>€4,10</td> 
            </tr>
            <tr>
                <td>Eindschoonmaak blokhut - optioneel</td> 
                <td>€45,00</td> 
                <td>€45,00</td> 
            </tr>
            <tr>
                <td>Munt wasmachine of droger (incl. wasmiddel & wasverzachter)</td> 
                <td>€4,75</td> 
                <td>€4,75</td> 
            </tr>
            <br>
            <tr>
                <td>Weber BBQ, Finse pannenkoekenpan, BBQ rooster, tosti-ijzer (boven kampvuur)</td> 
                <td>€5,00</td> 
                <td>€5,00</td> 
            </tr>
            <tr>
                <td>MAKA vuurschaal (€2,- per nacht, met minimum van €5,- of te koop á €29,95)</td> 
                <td>€2,00</td> 
                <td>€2,00</td> 
            </tr>
            <tr>
                <td>MAKA tafel met 2 banken, max 6 personen, €2,- per nacht, min. €5,-</td> 
                <td>€2,00</td> 
                <td>€2,00</td> 
            </tr>
        </table> 
    